@use "variables";
@use "yourTask";
@use "bartender";
@use "overview";
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: variables.$background-light;
  height: 100vh;
}
.main {
  display: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: variables.$light;
  color: variables.$dark-grey;
  align-items: center;
  margin-bottom: 1rem;
  // visibility: hidden;
  .logo {
    width: 12rem;
    height: fit-content;
  }

  h1 {
    font-size: 2.5rem;
  }
}
.switch {
  width: 6rem;
  height: fit-content;
  margin-left: 6vw;
  cursor: pointer;
}

main {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr 1.3fr 1fr;
  grid-template-rows: 20vh 65vh;
  column-gap: 3vw;
  margin: 0 2rem;
  margin-bottom: 2vw;
}
.bartender {
  grid-column-start: 1;
  grid-column-end: 3;
  .exit {
    display: none;
  }
}

.overview {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.taps {
  margin-bottom: 2vw;
}
.yourTask {
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.section-heading {
  font-family: variables.$semiBold;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 0.5rem auto;
  color: variables.$dark-green;
}
.subheading {
  font-family: variables.$semiBold;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 0;
  color: variables.$dark-green;
}
.button {
  color: variables.$dark-green;
  font-family: variables.$semiBold;
  border: none;
  background: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-top: solid variables.$dark-green 2px;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }
  .popup-done {
    width: 40vw;
    height: 20vw;
    left: 30%;
    top: 30%;
  }
}
@media only screen and (max-width: 900px) {
  main {
    grid-template-rows: 0.5fr 1.5fr 1fr;
    row-gap: 3vw;
  }
  .yourTask {
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 2rem;
  }
  .overview {
    grid-row-start: 3;
    grid-column-end: 6;
    .storageitems {
      height: 10vw;
    }
  }
  .bartender {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .logout {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .popup-done {
    width: 80vw;
    height: 50vw;
    top: 30%;

    left: 10%;
  }
  .taps {
    .progress {
      width: 5vw;
      height: 8vw;
      border-radius: 7px;
    }
  }
}
@media only screen and (max-width: 575px) {
  header {
    justify-content: space-around;
    .logo {
      width: 10rem;
    }
    .switch {
      width: 5rem;
    }
  }
  .popup-done {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 10vw;
  }
  .bartender {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .overview {
    .storageitems {
      height: 20vw;
    }
  }
  .yourTask {
    box-shadow: 0px 0px 0px 0px;
  }
  .taps {
    .progress {
      width: 45vw;
      height: 5vw;
    }
    .progress-text {
      left: 60%;
    }
  }
}
@media only screen and (max-width: 480px) {
  .subheading {
    font-family: variables.$light;
    font-size: 2rem;
  }
  header {
    h1,
    .switch {
      display: none;
    }
    .logo {
      width: 50vw;
    }
  }
  main {
    margin: 0;
    padding: 0;
    grid-template-rows: 0.3fr 1.2fr 1.35fr;
  }
  .bartender {
    margin: 0 1rem;
    height: fit-content;
    .logout {
      display: none;
    }
    .exit {
      display: block;
      border: none;
      background: none;
      grid-column-start: 4;
      grid-column-end: 5;
      align-self: flex-end;
      img {
        width: 8vw;
      }
    }
    img {
      align-self: flex-start;
      margin-top: 1rem;
    }
    .bartenderinfo {
      margin-top: 1rem;
      grid-column-start: 2;
      grid-column-end: 4;
      div {
        display: flex;
        flex-direction: row;
      }
    }
  }
  .yourTask {
    background-color: variables.$section-background;
    border-radius: 0;
    padding: 0;
    height: fit-content;
    h1 {
      padding-left: 1rem;
    }
  }
  .order {
    background-color: transparent;
    box-shadow: none;
    padding-left: 1rem;
    ul {
      height: auto;
      overflow: none;
      font-size: 2rem;
      font-family: variables.$light;
    }
    .time-button {
      text-align: center;
      p {
        font-size: 2rem;
      }
      .done-btn {
        width: 20vw;
      }
    }
  }
  .nextInQueue {
    background-color: variables.$background-light;
    border-top: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid variables.$dark-green 3px;
    .people-queue {
      justify-content: start;
    }
    .singlePerson {
      flex-basis: 30%;
    }
  }
  .overview {
    grid-row-start: 3;
    .storage {
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;
      ul li {
        margin: 0.5rem 0;
        font-family: variables.$light;
      }
    }
    .storageitems {
      height: auto;
      overflow: none;
    }
  }
}
