@use "variables";
.header {
  visibility: hidden;
  display: none;
}
.loader {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(66, 66, 66, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -29;
}

.welcome {
  width: 1207px;
  height: 665px;
  padding-top: 10vw;
  // opacity: 52%;
  box-shadow: 5px 5px 17px -9px rgba(0, 0, 0, 0.82);
  border-radius: 9px;
  background-image: url(/assets/beer-liquid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fade-out 3s 1 linear;
}
.logo2 {
  visibility: hidden;
  display: none;
}
// .logo2 img {
//   visibility: hidden;
//   display: none;
// }
.hi,
.shift {
  font-family: variables.$regular;
  color: variables.$dark-grey;
  font-size: 140px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

@keyframes fade-out {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

//responsiveness

@media only screen and (max-width: 767px) {
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: variables.$background-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome {
    width: 1207px;
    height: 735px;
    padding-top: 10vw;
    background-image: none;
    background-color: variables.$background-light;
    position: relative;
    animation: fade-out 3s 1 linear;
  }

  .logo2 {
    visibility: visible;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .logo2 img {
    margin-top: 0;
    height: 9vh;
    width: auto;
  }
  .hi {
    margin-top: 35vw;
  }
  .hi,
  .shift {
    font-family: variables.$regular;
    color: variables.$dark-grey;
    font-size: 70px;
    display: flex;
    justify-content: center;
    z-index: 3;
  }
}

//end of responsiveness
