@use "variables";
.hidden {
  visibility: hidden;
}
.popup-done {
  position: fixed;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 5px 5px 17px -9px rgba(0, 0, 0, 0.82);
  display: flex;
  justify-content: center;
  align-items: center;
  background: variables.$background-light;

  p {
    color: variables.$dark-green;
    font-size: 2rem;
    font-family: variables.$regular;
  }
}
